#timeslider-chart {
  height: 150px;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  height: inherit;
  //padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  /*top: 10px;*/
  left: 0;
}

.viewport {
  stroke: #f2f2f2;
  //fill: black;
  fill-opacity: 0.3;

  .overlay {
    pointer-events: none !important;
  }

  .selection {
    fill: white;

    &:hover {
      stroke: #53c7f2;
      stroke-width: 1px;
      cursor: ew-resize !important;
    }
  }

  .handle {
    pointer-events: none !important;
    display: none !important;
  }
}

.ts-hour-btn {
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 0 !important;
  background-color: white;
  color: black !important;
  border: 1px solid #c7c7c7 !important;
  width: 45px !important;

  &.ts-btn-left {
    margin-left: 10px !important;
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
  }

  &.ts-btn-right {
    margin-right: 10px !important;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
  }

  &:hover {
    background-color: #e2e2e2 !important;
    color: black !important;
  }
}

.toggle-text {
  &:hover {
    cursor: pointer;
  }
}
