#timeslider-chart {
  height: 150px;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  height: inherit;
  //padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  /*top: 10px;*/
  left: 0;
}

.viewport {
  stroke: #f2f2f2;
  //fill: black;
  fill-opacity: 0.3;

  .overlay {
    pointer-events: none !important;
  }

  .selection {
    fill: white;
  }

  .handle {
    pointer-events: none !important;
    display: none !important;
  }
}
