<div class="row">
  <div class="col-lg-5">
    IN FOCUS: Last {{n}} min, {{dateTimeNMins.format("D MMM, YYYY")}} {{dateTimeNow.format("h:mm")}} - {{dateTimeNMins.format("h:mm")}}
  </div>
  <div class="col-lg-7">
    <div class="row">
      <div class="baby-container purple">
        <img class="img-baby" src="../../../assets/baby_purple.png" alt="Baby 1" />
        <span class="span-bpm">
          <span>{{baby1bpm}}</span><span>bpm</span>
        </span>
      </div>
      <div class="baby-container blue">
        <img class="img-baby" src="../../../assets/baby_blue.png" alt="Baby 2" />
        <span class="span-bpm">
          <span>{{baby2bpm}}</span><span>bpm</span>
        </span>
      </div>
      <div class="baby-container green">
        <img class="img-baby" src="../../../assets/baby_green.png" alt="Baby 3" />
        <span class="span-bpm">
          <span>{{baby3bpm}}</span><span>bpm</span>
        </span>
      </div>
      <div class="baby-container red">
        <img class="img-baby" src="../../../assets/baby_red.png" alt="Baby 4" />
        <span class="span-bpm">
          <span>{{baby4bpm}}</span><span>bpm</span>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="text-center" id="heartrate-chart"></div>
<div class="text-center" id="uterine-activity-chart"></div>
